<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class ="col-3">
        <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          It is
          <br />
          so fun
          <br />
          to code!
          </div>
        <% end %>
      </div>
      <div class="col col-sm-4 hidden-xs-down slogan">
      <!-- <div class="col-4 slogan"> -->
        Splurting Out advice since 2016
      </div>
      <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">


<!-- Navigation Links -->

  <!--Contribute Button -- Will Launch Modal  -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        <!-- & nbsp; adds empty space -->
          &nbsp; &nbsp;

  <!-- About Link -->
        <%= link_to 'About', about_path %>
          &nbsp; &nbsp;

  <!-- Contacts Link -->
        <%= link_to 'Contacts', contact_path %>
          &nbsp; &nbsp;

        <!-- <&= link_to 'Name which will be displayed', <Method/Object>_path [_path is always added to variable]
        contact_path | contact is the 'action' in controller#action -->

  <!-- Authors Link -->
        <%= link_to 'Authors', author_path %>
          &nbsp; &nbsp;


        <!-- Narative:
              Application template view is given LINK NAME: 'Authors'
              Application template view is given ACTION: 'author'_path
              Application will reference routes.rb to determine where to direct action

              We need to create controller called 'Author'
              We need to tell 'Config->Routes' what to do with method 'Author'

               -->
      </div>

    </header>

<!-- Explanation --

      This closes Header (which will be used on all pages)
      The actual VIEW which is rended will be initiated by the 'Yield' call
       -->



<!-- Modal - Definition -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
              <%= f.input :saying, label: 'Share something interesting about yourself', placeholder: "Maybe something funny, or profound?", error: 'Must share something between 4-150 characters'%>
              <br />
              <%= f.input :author, label: 'Tell us your name!', placeholder: "First Name, Last Name", error: 'Must share something between 4-150 characters' %>
              <br />

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Create', class: 'btn btn-danger' %>
            </div>
          <% end %>          
        </div>
      </div>
    </div>

<!-- End Modal Definition -->



    <hr />

    <br class="clear" />

    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>


<!-- View RENDER COMMAND -->

      <%= yield %>
    </div>

<!-- Explanation -- 

    Yield is a built-in Ruby Method
    Yield tells template to look at controller#action for which view should be rendered

    Generally speaking the URL /quotes, etc. tells View which controller / action to render

 -->


<!-- Footer Start -->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <%= link_to "This isn't enough, I need more", "root_path", class: 'next-quote' %>
      </div>

      <div class="col-12 col-sm-6 footer-blurb">
        Created by <a href="https://splurty-stephen-cotton.herokuapp.com/">Stephen Cotton</a>

      </div>
    </div>

  </body>
</html>
